  <nav class="navbar sticky-top navbar-expand-lg navbar-light navigatie">
    <!-- websitelogo -->
    <a href="index.html"><img src="assets/img/logo_groot.png" height="50px" alt="logo"></a>
    
    <!-- hamburger icoon -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- hoofdnavigatie -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          {% assign links = site.data.navigation %}
          {% for link in links %}
              {% assign class = nil %}
              {% if link.url contains page.url %}
                  {% assign class = ' active' %}
              {% endif %}
              {% if link.sublinks %}
                  <li class="nav-item dropdown {{ class }}">
                      <a href="{{ site.baseurl }}{{ link.url }}" class="nav-link dropdown-toggle {{ class }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          {% for sublink in link.sublinks %}
                                  <li class="dropdown-item">
                                      <a class="nav-link{{ class }}" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                  </li>
                          {% endfor %}
                      </ul>
                  </li>
              {% else %}
                  <li class="nav-item{{ class }}">
                      <a class="nav-link{{ class }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                  </li>
              {% endif %}
          {% endfor %}
      </ul>
      <a href="stap1.html"><button class="knop_huren">Huur mij</button></a>
    </div>
  </nav>